.wrapper {
    max-width: 768px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/club_cska_color_invert_black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    padding: 128px 32px 0;
}

.name {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 32px 0 16px;
    color: var(--base-blue);
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 256px;
    margin: 0 auto;
}

.menuItem {
    text-transform: uppercase;
    color: var(--base-blue);
    background-color: var(--base-white);
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
}

.menuItem:active {
    background-color: var(--base-blue);
    color: var(--base-white);
}

.menuItem:hover {
    cursor: pointer;
    font-weight: bold;
}
