.wrapper {
    max-width: 768px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../assets/club_cska_color_invert_black.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    padding: 96px 32px 0;
}

.name {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 32px 0 32px;
    color: var(--base-blue);
    white-space: pre-line;
    line-height: 1;
}

.name > div {
    font-family: "Sofia Sans Condensed", sans-serif;
    font-size: 32px;
    font-weight: normal;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 0 auto;
    width: 100%;
}

.menuItem {
    text-transform: uppercase;
    color: var(--base-blue);
    background-color: var(--base-white);
    font-size: 24px;
    border-radius: 8px;
    text-align: center;
    padding: 16px;
    position: relative;
}

.menuItem:active {
    background-color: var(--base-blue);
    color: var(--base-white);
}

.menuItem:hover {
    cursor: pointer;
    font-weight: bold;
}

.menuItemPostfix {
    color: var(--base-grey);
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-size: 10px;
}
